# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# SQLite3 database files:
*.db*
*.sql*

config.ini

*.sublime*
pyvenv.cfg
pip-selfcheck.json
*.log*
*.csv
*.json
*test.py
.python-version
TODO.txt
